.container{
  display: inline-block;
  margin: 15px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.container p{
  color: whitesmoke;
  font-size: 20px;
}

