.search{
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

.search h2{
  margin: 10px;
}
.input{
  max-width: 350px;
  height: 40px;
  background: whitesmoke;
  position: relative;
  border: 0;
  outline: none;
  border-radius: 20px;
  margin: 20px auto;
}

.input input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 20px;
  padding: 0 10px;
}