.specific{
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.specificdetails{
  width: 100%;
  margin: auto;
  position: relative;
}

.imgCon{
  width: 100%;
  height: 600px;
  border-radius: 20px;
}

.imgCon img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.foodDetails{
  background: whitesmoke;
  max-width: 350px;
  max-height: 150px;
  position: absolute;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 5px 5px rgba(0, 0, 0,0.5);
}

.recipeDetails{
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.recipeDetails .ingreients{
  flex-basis: 40%;
}

.recipeDetails .ingreients button{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
 font-size: 18px;
 font-weight: bold;
  
}

.recipeDetails .instructions{
  flex-basis: 50%;
  text-align: justify;
}

.video{
  width: 80%;
  margin: 3rem auto;
}
.video iframe{
  height: 515px;
  width: 100%;
}